<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Template</title>
  </head>

  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a class="brand" href="index.html">Amazona</a>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Signin</a>
        </div>
      </header>
      <main>
        <div class="row center">
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/p1.jpg" alt="product loading" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike Slim shirt</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/p1.jpg" alt="product loading" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike Slim shirt</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/p1.jpg" alt="product loading" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike Slim shirt</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/p1.jpg" alt="product loading" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike Slim shirt</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/p1.jpg" alt="product loading" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike Slim shirt</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/p1.jpg" alt="product loading" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike Slim shirt</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/p1.jpg" alt="product loading" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike Slim shirt</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
        </div>
      </main>
      <footer class="row center">All right reserved</footer>
    </div>
  </body>
</html>
